<div class="flex h-full bg-gray-200 relative">
  <div class="flex-none h-full transition ease-in-out duration-500 bg-white w-72 border-r">
    <div class="flex flex-col h-full">
      <div class="grow h-full overflow-auto">
        <div class="space-y-1 text-base divide-y divide-gray-300">
          <div
            class="flex cursor-pointer w-full p-6">
            <label class="text-4xl cursor-pointer font-bold">Manage</label>
          </div>
          <ng-container *ngFor="let menu of menu; let i = index">
            <div [class.bg-sky-100]="selectedIndex === i" (click)="selected(i)"
                 class="cursor-pointer w-full hover:bg-sky-200 p-6 space-y-2">
              <label class="text-base font-bold cursor-pointer">{{menu.title}}</label>
              <p class="text-sm">
                {{menu.description}}
              </p>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="grow h-full overflow-auto">
    <ng-container *ngIf="selectedIndex === 0">
      <app-class-room></app-class-room>
    </ng-container>
    <ng-container *ngIf="selectedIndex === 1">
      <app-configuration></app-configuration>
    </ng-container>
    <ng-container *ngIf="selectedIndex === 2">
      <app-holidays></app-holidays>
    </ng-container>
  </div>
</div>
